<style>
  body{
    background-color: rgb(243, 243, 243);
  }
</style>

<div class="d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh">
      <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">AIOL</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/vendas" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
             Vendas
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Estoque
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" style="width: 248px" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="/produtos">Produtos</a></li>
            <li><a class="dropdown-item" href="/categorias">Categorias</a></li>
          </ul>

        </li>
        
        <li>
          <a href="/clientes" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Clientes
          </a>
        </li>

      </ul>
      {{>_logOut}}
    </div>

        

 <div style="width: 100vw; padding:50px">
   
<div >
{{#each erros}}
            <div class="alert alert-danger alert-dismissible fade show" style="" role="alert">
                {{texto}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {{/each}}
        {{#each sucesso}}
            <div class="alert alert-success alert-dismissible fade show" style="" role="alert">
                {{texto}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {{/each}}
    <form action="/addProdVenda" style=" background-color: #fff;  margin-left: 10vw; padding: 20px 40px;  border-radius: 10px; width: 45vw" method="POST">
                {{!-- Nome --}}
                <div class="form-header">
                    <h5 class="form-title">Cadastrar venda</h5>
                    <hr>
                </div>
                
                <div class="mb-3">

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Produto:</label>
                        <select class="form-select" name="Fproduto" aria-label="Default select example" required>
                            {{#each produto}}
                                <option value="{{dataValues.id}}">{{dataValues.nome}}
                                </option>
                            
                            {{/each}}
                        </select>
                    </div> 

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Quantidade:</label>
                      <input type="number" name="Fqntd" class="form-control">

                    </div>

                <button type="submit" class="btn btn-success w-100">Novo produto</button>

                </div>
            <div class="modal-footer">
                <a href="/vendas"class="btn btn-danger">Cancelar</a>
                {{#finalizarCompra}}
                  <a  class="btn btn-success" href="/cadVenda">Finalizar venda</a>
                {{/finalizarCompra}}
            </div>    
        </form>
   
</div>
</div>
        
