<style>
  body{
    background-color: rgb(243, 243, 243);
  }
</style>

<div class="d-flex " >
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="position: fixed; width: 280px; height: 100vh;">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">AIOL</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/vendas" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Vendas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Estoque
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" style="width: 248px" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="/produtos">Produtos</a></li>
            <li><a class="dropdown-item" href="/categorias">Categorias</a></li>
          </ul>

        
        <li>
          <a href="/clientes" class="nav-link text-white active">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Clientes
          </a>
        </li>

   
      </ul>
      {{>_logOut}}
   
    </div>

{{!-- FORM --}}
{{#cliente}}
    <div style="width: 100vw; padding:50px">
    <div style="background-color: #fff;  margin-left: 31vw; padding: 20px 40px;  border-radius: 10px; width: 45vw">

    <form action="/editCliente" style="" method="POST">
                {{!-- Nome --}}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nome do funcionário</label>
                    <input placeholder="{{dataValues.nome_cliente}}" type="text" name="Fnome_funcionario" class="form-control"  required>

                </div>
                {{!-- CPF --}}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">CPF</label>
                    <input placeholder="{{dataValues.cpf}}" type="number" name="Fcpf_cliente" class="form-control"  required>

                </div>
                {{!-- Senha --}}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Sexo:</label>
                        <select class="form-select" name="Fsexo_cliente" aria-label="Default select example" required>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                        </select>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ano de nascimento</label>
                    <input placeholder="{{dataValues.dataNasc_cliente}}" type="date" name="FanoNasc_cliente" class="form-control"  required>
                </div>

            <div class="modal-footer">
                <a href="/clientes"class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-success">Editar</button>
            </div>    
        </form>
</div>
</div>
{{/cliente}}

